#!/bin/sh
set -e

. /usr/share/debconf/confmodule

xinetd_conf=/etc/xinetd.d/check_mk_agent

if [ -f $xinetd_conf ]
then
  db_set check-mk-agent/nagios-server-address "$(
    perl -ne '
      if (/^\s*{/ .. /^\s*}/) {
        $only_from = $1 if /^\s* only_from \s*=\s* (.*?) \s*$/x;
      }
      if (/^\s*}/) {
        print $only_from;
        exit;
      }
    ' $xinetd_conf
  )"
fi

db_input medium check-mk-agent/nagios-server-address || true
db_go || true
